<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="<%= theme.index_page %>">首页</a> |
        <a class="bottom-item" href="<%= theme.github %>" target="_blank">GitHub</a> |
        <a class="bottom-item" href="https://hexo.io" target="_blank">Hexo</a> |
        <a class="bottom-item" href="https://github.com/KevinOfNeu/hexo-theme-xoxo" target="_blank">Theme</a>
    </div>
</footer>
<!--添加Swiftype搜索-->
<script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

    _st('install','-y-szjdoVnwSNUt82xHY','2.0.0');
</script>