//@import "./_reset.styl"
@import "./_variables"
@import "./base"
@import "./navbar"
@import "./header"
@import "./code"
@import "./post"
@import "./footer"
@import "./calendar"

.category-list-count:before {
    content: ' '
}

.category-list-count:after {
    content: ' '
}

// left bar
.blog-intro
    width: 25%
    padding-right: 16px
    float: left
    @media (max-width: $screen-sm)
        width: 100%
        padding-left: 16px
        padding-right: 16px
        background-color: #fafbfc
        border-bottom: 1px solid #e1e4e8
    .avatar
        width: 230px
        @media (max-width: $screen-sm)
            width: 110px
            display: block
            float: left
            margin-right: 15px
    &-user
        @media (max-width: $screen-sm)
            padding-top: 15px
            padding-bottom: 15px
    .user-detail
        border-top: 1px solid #eee
        padding: 16px 0
        list-style: none
        margin: 0
        font-size: 14px
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
        @media (max-width: $screen-sm)
            padding: 0
            margin-top: 7px
            margin-left: -2px
            border: none
            font-size: 12px
            line-height: 1.8
        li
            padding-top: 4px
            @media (max-width: $screen-sm)
                padding: 0
        i
            display: inline-block
            width: 20px
            text-align: center

    .social-media
        border-top: 1px solid #eee
        padding: 16px 0
        h4
            font-size: 16px
            margin: 0 0 4px 0
        ul
            padding: 0
            list-style: none
            margin: 0
        &-item
            float: left
            margin-right: 5px
            font-size: 25px
            width: 35px
            height: 35px
            background: #F0F0F0
            border-radius: 3px
            text-align: center
            a
                line-height: 35px
            .fa-github
                color: #24292e
            .fa-weibo
                color: #E6162D
            .fa-linkedin
                color: #0077B5

.user-name
    padding: 16px 0
    @media (max-width: $screen-sm)
        padding: 0

.blog-title
    font-size: 26px
    line-height: 30px
    font-weight: 600
    text-align center
    @media (max-width: $screen-sm)
        margin: 0
        font-size: 16px
        line-height: 1.5

.blog-author
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
    @media (max-width: $screen-sm)
        margin: 0
        font-size: 12px

.blog-description
    margin-bottom: 12px
    color: #6a737d
    font-size: 14px
    @media (max-width: $screen-sm)
        clear: both
        font-size: 12px
        margin: 8px 0 0 0

.blog-detail
    width: 75%
    padding-left: 8px
    float: left
    @media (max-width: $screen-sm)
        width: 100%
        padding-left: 16px
        padding-right: 16px
    &-nav
        border-bottom: 1px solid #d1d5da
        ul
            list-style: none
            padding: 0
            margin: 0
            li
                float: left
                padding: 0
                height: 60px
                color: #586069
                &.selected
                    border-bottom: 2px solid #e36209
                    a, a:hover, a:link, a:visited
                        color: #24292e
                a, a:hover, a:link, a:visited
                    text-decoration: none
                    color: #586069
                    padding: 0 20px
                    display: inline-block
                    line-height 60px

.counter
    background: #eee
    border-radius: 20px
    padding: 2px 5px
    display: inline-block
    font-weight: 600
    line-height: 1
    font-size: 12px

.right-title
    margin-top: 24px
    margin-bottom: 8px
    font-size: 16px

.user-info
    padding-right: 16px
    &-avatar
        width: 230px
        max-height: 230px
        vertical-align: middle
        display: inline-block
        overflow: hidden

.recent-post
    list-style: none
    padding: 0
    margin: 0 0 24px 0
    @media (max-width: $screen-sm)
        width: 100%
        border: 1px solid #d1d5da
        border-radius: 3px
    &-item
        border: 1px solid #d1d5da
        border-radius: 3px
        width: 354px
        display: flex
        padding: 16px
        margin-bottom: 16px
        height: 118px
        float: left
        @media (max-width: $screen-sm)
            width: 100%
            float: none
            border: none
            height: auto
            margin: 0
            padding: 14px
            border-top: 1px solid #d1d5da

            &:first-child
                border-top: none

            /* quick fix for #18 */
            padding: 0

            .clearfix
                width: 100%

            .post-title
                position: relative
                i
                    position: absolute
                    top: 20px
                    left: 14px
                a
                    display: block
                    padding: 14px
                    padding-left: 32px

        &:nth-child(odd)
            margin-right: 5px
            @media (max-width: $screen-sm)
                magrin: 0
        &:nth-child(even)
            margin-left: 5px
            @media (max-width: $screen-sm)
                margin: 0

.post-title
    margin: 0
    line-height: 21px
    max-width: 325px
    @media (max-width: $screen-sm)
        white-space: normal
    i
        padding-right: 5px

.post-description
    margin: 8px 0 16px 0
    font-size: 12px
    color: #586069
    height: 20px
    max-width: 325px

.post-info
    margin: 0
    color: #586069
    font-size: 12px
    span
        margin-right: 16px
    a.category-link
        color: inherit

// right bar
.archive-list
    list-style: none
    padding: 0
    &-item
        padding: 15px 0
        border-bottom: 1px solid #e1e4e8
        h2
            margin: 0
            font-size: 20px
            font-weight: 600
        p
            font-size: 14px
            color: #586069
            margin: 6px 0 8px 0
        .post-info
            margin-top: 8px
            font-size: 12px

.tag-list
    padding: 4px 0
    list-style: none
    margin: 0
    &-item
        float: left
        margin: 0 0.5em 0.5em 0
        padding: 0.3em 0.9em
        background: #f1f8ff
        border-radius: 3px
        color: #0366d6
        font-size: 12px
        &:hover
            background: #ddeeff

.tag-list-count
    padding-left: 5px
    font-weight: bold

// google search
#google-search
    display: table-cell
    width: 100%

    #___gcse_0
        input[name="search"]
            background: none !important
            color: $white
            border: none
            min-height: 30px
            background: none
            padding: 0 8px !important
            vertical-align: middle
            outline: none
            color: inherit
            font-size: inherit
            text-indent: 0 !important
            &:focus
                outline-width: 0

    .gsc-control-cse
        background-color: transparent
        border: none
        padding: 0

    .gsc-search-button, .gsc-clear-button
        display: none

    .gsc-branding
        display: none !important

    .gsc-input
        padding-right: 0 !important

    .gsc-input-box
        border: none
        background: none
        &-focus
            box-shadow: none

    .gsib_a
        padding: 0

    .gsib_b
        display: none

.disqus-container
    @media (max-width: $screen-sm)
        padding: 0 15px

//分页
.page-nav {
    margin: 10px 0 0;
    padding: 10px 0 10px;
    text-align: center;
    .page-number {
        font-size: 14px;
        display: inline-block;
        position: relative;
        margin: 0 5px;
        width: 28px;
        height: 28px;
        line-height: 28px;
        border 1px solid transparent
        &.current {
            color: #fff;
            background: #ccc;
            border-radius: 14px;
            &:hover {
                color: #fff;
            }
        }
        &:hover {
            cursor pointer;
            color: blue;
            border-radius: 14px;
            border: 1px dashed blue;
        }
    }
    a:hover {
        text-decoration none;
        color: blue;
    }
}

.archive-list-tags{
    display flex;
    flex-wrap wrap;
}

//nav git图标
.git-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

//nav 搜索框
.search-input:focus{
    background: #fff;
    color: #000;
    width: 250px;
}

//搜索列表
.search-list-con{
    display none
    width 100%
    position absolute
    background #fff
    border-radius 3px
    border 1px solid #afafaf
    max-height 300px
    overflow auto
    z-index 1
    margin-top 1px
    .search-list-item{
        display block
        line-height 25px
        border-bottom 1px solid #afafaf
        padding 5px 10px
        white-space nowrap
        overflow hidden
        color #000
        font-size 12px
        text-decoration none
        text-overflow ellipsis
        &:hover{
            color blue
        }
        &:last-child{
            border-bottom none
        }
    }
}

//Categories列表
.category-list-item {
    font-size 16px
    line-height 30px
}

//tags
.tag-page
    .tag-list
        display flex
        flex-wrap wrap
        list-style none
        margin-left -15px
        &-item
            background: #f1f8ff
            border-radius: 3px
            color: #0366d6
            font-size: 14px
            padding 10px
            margin 5px
            &:hover
                background: #ddeeff


//目录
.toc-article{
    display: block;
    position: fixed;
    max-height: calc(100vh - 150px);
    width: 200px;
    top: 25%;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 4px;
    background-color: #F6F6F6;
    //right: 20px;
    right: calc(100%/2 - 690px);
    .toc-title{
        font-size: 14px;
        color: #017E66;
        font-weight: 500;
        background: #BFE6D7;
        display: block;
        text-align center
    }
    .toc{
        margin: 0;
        padding: 10px;
        list-style none
        max-height 400px
        overflow auto
        .toc-item{
            margin: 5px 0px;
            padding: 0;
            color: #444;
        }
        .toc-level-4{
            list-style: none;
        }
        .toc-link{
            display: block;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-decoration: none;
            color: #999;
            line-height: 22px;
            font-size; 14px;
            &:hover{
                color: #afafaf;
            }
        }
    }
}
@media (max-width: $screen-sm){
    .toc-article{
        position: unset;
        width: 100%;
        margin-left: 0px;
        .toc-item{
            width: 100%;
        }
        .toc-link{
            width: 100%;
        }
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F0F0F0;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #CBCBCB;
}
